@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
li {
  list-style: none;
}

i {
  color: inherit;
  background: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-padding-top: 64px;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-indent: none;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#1e202d, #017ff0);
  color: #fafafa;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

header {
  width: 100vw;
  height: 64px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;
  background: #22222f;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(20px, 1rem + 0.5vw, 2rem);
  font-weight: 400;
  height: 40px;
  max-height: 40px;
  line-height: 40px;
  width: 100vw;
  justify-content: space-between;
  padding: 0 1rem;
}
header nav .nav-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  width: auto;
  gap: 2rem;
  margin: auto 1rem;
}
header nav .nav-list li {
  cursor: pointer;
  transition: 300ms;
}
header nav .nav-list li:hover {
  color: #017ff0;
}

section {
  margin: 0 10vw;
  position: relative;
  width: clamp(600px, 80%, 1000px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.section-header {
  position: sticky;
  top: 40px;
  padding: 0 2rem;
  z-index: 7;
  height: 40px;
  max-height: 40px;
  line-height: 40px;
  width: 100vw;
  color: white;
  background: transparent;
}
.section-header .section-header-title {
  font-family: "Outfit", sans-serif;
  font-size: clamp(28px, 28px + 0.5vw, 2.3rem);
  font-weight: 700;
}

.section-content {
  width: 100%;
  height: auto;
  margin: 5vh 0;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.button {
  margin-top: 2rem;
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(20px, 1rem + 0.5vw, 2rem);
  font-weight: 400;
  border-radius: 9999px;
  padding: 0.5rem 3rem;
  background: #333333;
  white-space: nowrap;
  font-weight: 700;
  box-shadow: 0 4px 4px 2px rgba(68, 68, 68, 0.3137254902);
  color: #fafafa;
  outline: none;
  border: none;
  cursor: pointer;
}

figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#footer {
  min-height: 20vh;
  width: 100%;
  background: #3b405f;
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(12px, 12px + 1vw, 1.4rem);
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  justify-content: space-between;
  padding: 2vw 5vw;
  align-items: center;
}
#footer .footer-left {
  font-weight: 600;
}
#footer .footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: right;
}
#footer .footer-right p, #footer .footer-right h3 {
  width: 100%;
}

#main-shop .shop-title {
  font-family: "Outfit", sans-serif;
  font-size: clamp(28px, 28px + 0.5vw, 2.3rem);
  font-weight: 700;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  align-self: flex-start;
  width: 100%;
  padding: 0 2rem;
}
#main-shop .section-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
#main-shop .body-shop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 40px;
  max-width: 100px;
  height: 60vh;
  overflow: hidden;
  transition: all 300ms;
  flex-grow: 1;
  flex-shrink: 2;
}
#main-shop .body-shop-container:hover, #main-shop .body-shop-container:focus, #main-shop .body-shop-container:active {
  flex-grow: 3;
  max-width: 30vw;
}
#main-shop .body-shop-container:hover span, #main-shop .body-shop-container:focus span, #main-shop .body-shop-container:active span {
  transform: rotate(0deg);
}
#main-shop .body-shop-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: scale 300ms;
  object-fit: cover;
}
#main-shop .body-shop-container span {
  position: absolute;
  left: 0;
  bottom: top;
  font-family: "Outfit", sans-serif;
  font-size: clamp(28px, 28px + 0.5vw, 2.3rem);
  font-weight: 700;
  writing-mode: vertical-rl;
  text-shadow: 0px 0px 4px #333333;
  transition: all 300ms;
}