@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
li {
  list-style: none;
}

i {
  color: inherit;
  background: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-padding-top: 64px;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-indent: none;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#1e202d, #017ff0);
  color: #fafafa;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

header {
  width: 100vw;
  height: 40px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  top: -2px;
  left: 0;
  background: #22222f;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(20px, 1rem + 0.5vw, 2rem);
  font-weight: 400;
  height: 40px;
  max-height: 40px;
  line-height: 40px;
  width: 100vw;
  justify-content: space-between;
  padding: 0 1rem;
}
header nav .nav-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  width: auto;
  gap: 2rem;
  margin: auto 1rem;
}
header nav .nav-list li {
  cursor: pointer;
  transition: 300ms;
}
header nav .nav-list li:hover {
  color: #017ff0;
}

section {
  margin: 0 10vw;
  position: relative;
  width: clamp(600px, 80%, 1000px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.section-header {
  position: sticky;
  top: 40px;
  padding: 0 2rem;
  z-index: 7;
  height: 40px;
  max-height: 40px;
  line-height: 40px;
  width: 100vw;
  color: white;
}
.section-header .section-header-title {
  font-family: "Outfit", sans-serif;
  font-size: clamp(28px, 28px + 0.5vw, 2.3rem);
  font-weight: 700;
}

.section-content {
  width: 100%;
  height: auto;
  margin: 5vh 0;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.button {
  margin-top: 2rem;
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(20px, 1rem + 0.5vw, 2rem);
  font-weight: 400;
  border-radius: 9999px;
  padding: 0.5rem 3rem;
  background: #333333;
  white-space: nowrap;
  font-weight: 700;
  box-shadow: 0 4px 4px 2px rgba(68, 68, 68, 0.3137254902);
  color: #fafafa;
  outline: none;
  border: none;
  cursor: pointer;
}

figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#footer {
  min-height: 20vh;
  width: 100%;
  background: #3b405f;
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(12px, 12px + 1vw, 1.4rem);
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  justify-content: space-between;
  padding: 2vw 5vw;
  align-items: center;
}
#footer .footer-left {
  font-weight: 600;
}
#footer .footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: right;
}
#footer .footer-right p,
#footer .footer-right h3 {
  width: 100%;
}

#home .section-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10vh;
  justify-content: center;
  height: 90vh;
}
#home .section-content .home-portrait-container {
  overflow: hidden;
  box-shadow: 0px 0px 2px 1px #fafafa;
  width: clamp(340px, 60vw, 500px);
  aspect-ratio: 1/1.5;
}
#home .section-content .home-portrait-container .home-portrait {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  vertical-align: middle;
}
#home .section-content .home-text-container {
  font-family: "Outfit", sans-serif;
  font-size: clamp(40px, 5vw, 2.5rem);
  font-weight: 800;
  font-family: 700;
  font-weight: 600;
  width: clamp(340px, 40%, 460px);
  aspect-ratio: 2/1;
  margin: 1rem 2rem;
}
#home .custom-link {
  font-family: "Outfit", sans-serif;
  font-size: clamp(28px, 28px + 0.5vw, 2.3rem);
  font-weight: 700;
  margin-top: 2rem;
  cursor: pointer;
  border: 3px solid white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem 1rem;
  background: transparent;
  color: #fafafa;
  transition: all 300ms;
}
#home .custom-link:hover {
  color: #017ff0;
  background: #fafafa;
  border: 3px solid #fafafa;
}

@media (max-width: 700px) {
  #home .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
  }
  #home .section-content .home-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: "Outfit", sans-serif;
    font-size: clamp(28px, 28px + 0.5vw, 2.3rem);
    font-weight: 700;
  }
}