@import url("https://fonts.googleapis.com/css2?family=Sacramento:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sevillana:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
li {
  list-style: none;
}

i {
  color: inherit;
  background: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-padding-top: 64px;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-indent: none;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #22222f;
  color: #fafafa;
}

#header {
  width: 100vw;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;
  background: #0c0d15;
}
#header nav {
  justify-content: space-between;
  height: 40px;
  max-height: 40px;
  line-height: 40px;
  display: flex;
  flex-direction: row;
  width: auto;
}
#header nav .nav-list {
  display: flex;
  font-weight: 600;
  width: auto;
  gap: 2rem;
  margin: auto 1rem;
  font-family: "Rajdhani", sans-serif;
}

section {
  margin-top: 64px;
  padding: 0 10vw;
  height: calc(100vh - 64px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1200px;
}
section .section-header {
  position: sticky;
  top: 64px;
  z-index: 7;
  height: 40px;
  max-height: 40px;
  line-height: 40px;
  width: 100vw;
  color: white;
  background: #3b405f;
  padding: 0 2rem;
}
section .section-header .section-header-title {
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(20px, 1rem + 0.5vw, 2rem);
  font-weight: 400;
}
section .section-content {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  min-height: calc(100vh - 64px - 40px);
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.button {
  margin-top: 2rem;
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(20px, 1rem + 0.5vw, 2rem);
  font-weight: 400;
  border-radius: 9999px;
  padding: 0.5rem 3rem;
  color: #fafafa;
  outline: none;
  border: none;
  cursor: pointer;
}

#home .section-content .home-portrait-container {
  grid-column: 2/7;
  grid-row: 2/10;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 2px 1px #fafafa;
  width: 100%;
}
#home .section-content .home-portrait-container .home-portrait {
  background: red;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#home .section-content .home-text-container {
  font-family: "Outfit", sans-serif;
  font-size: clamp(32px, 3vw, 3rem);
  font-weight: 700;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  grid-column: 7/11;
  grid-row: 2/9;
  padding: 0 3vw;
}
#about .section-content {
  margin-top: 5vh;
  justify-content: center;
  height: auto;
}
#about .section-content figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#about .about-text {
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(12px, 12px + 1vw, 1.25rem);
  font-weight: 400;
  padding: 1rem 2rem;
  display: block;
  font-family: "Rajdhani", sans-serif;
  font-size: 0.8rem;
}
#about .about-text::first-line {
  font-size: 1.25rem;
  font-family: "Lobster", cursive;
}
#about figcaption {
  opacity: 0;
}
#about .about-image {
  box-shadow: 0px 0px 2px 1px #fafafa;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#about .about-image-1 {
  grid-column: 8/12;
  grid-row: 1/5;
}
#about .about-text-1 {
  grid-column: 2/8;
  grid-row: 2/4;
  text-align: right;
}
#about .about-image-2 {
  grid-column: 2/6;
  grid-row: 4/8;
}
#about .about-text-2 {
  grid-column: 6/12;
  grid-row: 5/7;
}
#about .about-image-3 {
  grid-column: 8/12;
  grid-row: 7/11;
}
#about .about-text-3 {
  grid-column: 2/8;
  grid-row: 8/12;
  text-align: right;
}

#contact .section-content {
  gap: 1rem;
  width: 100%;
  font-family: "Rajdhani", sans-serif;
  margin-top: 10vh;
}
#contact .contact-text-block {
  grid-column: 4/10;
  grid-row: 2/4;
  font-family: "Rajdhani", sans-serif;
  font-family: "Outfit", sans-serif;
  font-size: clamp(32px, 3vw, 3rem);
  font-weight: 700;
  font-weight: 400;
}
#contact .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(12px, 12px + 1vw, 1.25rem);
  font-weight: 400;
  margin-top: 5vh;
  width: 100%;
  grid-column: 4/10;
  grid-row: 4/10;
  font-family: "Rajdhani", sans-serif;
  gap: 0.5rem;
}
#contact .contact-form .button {
  align-self: flex-end;
}
#contact input,
#contact textarea {
  width: 100%;
  height: 2rem;
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(20px, 1rem + 0.5vw, 2rem);
  font-weight: 400;
  color: #fafafa;
  background: #3b405f;
  border: none;
  font-family: "Rajdhani", sans-serif;
}
#contact textarea {
  height: 10rem;
  resize: none;
}

#main-shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: -moz-fit-content;
  height: fit-content;
}
#main-shop .shop-title {
  font-family: "Outfit", sans-serif;
  font-size: clamp(32px, 3vw, 3rem);
  font-weight: 700;
  font-weight: 700;
  font-family: "Rajdhani", sans-serif;
  align-self: flex-start;
  padding: 0 3rem;
  margin-top: 5vh;
}
#main-shop .section-content {
  margin-top: 5vh;
  width: 100%;
  padding: 0 10vw;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
#main-shop figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 200px;
  aspect-ratio: 1/1.5;
  overflow: hidden;
  box-shadow: 0px 0px 2px 1px #fafafa;
  transition: box-shadow 200ms, scale 200ms;
}
#main-shop figure:hover {
  box-shadow: 0px 0px 4px 2px #fafafa;
}
#main-shop figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: scale 360ms;
  object-fit: cover;
}
#main-shop figure img:hover {
  scale: 1.1;
}
#main-shop figure .button {
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(12px, 12px + 1vw, 1.25rem);
  font-weight: 400;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  background: #fafafa;
  color: #333333;
  font-weight: 700;
  box-shadow: 0 4px 4px 2px rgba(68, 68, 68, 0.3137254902);
}
#main-shop figure figcaption {
  position: absolute;
  bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  #main-shop {
    background: blue;
  }
  #main-shop .section-content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 320px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-indent: none;
}

body {
  overflow-x: hidden;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100vw;
  z-index: 10;
  background: lightblue;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  height: 64px;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  height: 40px;
  max-height: 40px;
  line-height: 40px;
  padding: 0 1rem;
}
nav svg {
  font-size: 24px;
}
nav .nav-list {
  display: flex;
}
nav .social-list {
  display: flex;
}

section {
  width: 100vw;
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}
section .section-header {
  position: sticky;
  top: 64px;
  z-index: 7;
}
section .section-header-title {
  height: 40px;
  max-height: 40px;
  line-height: 40px;
  width: 100vw;
}