#shop {
  display: flex;
  flex-direction: column;
  position: relative;
}
#shop .section-content {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

#mason-gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(8vw, 180px));
  padding: 1rem;
  grid-auto-rows: 400px;
  width: 100%;
  max-width: 50%;
}

.mason-item {
  position: relative;
  border: 4px solid black;
  margin: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: width 200ms;
}
.mason-item:hover {
  border: 4px solid red;
}
.mason-item .mason-item-image {
  transition: transform 200ms;
}
.mason-item .mason-item-image:hover {
  transform: scale(1.05);
}
.mason-item .mason-item-text-container {
  display: none;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: transparent;
  transition: opacity 200ms;
}
.mason-item .mason-item-description {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  display: none;
}
.mason-item .mason-item-image-container {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
.mason-item .mason-item-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mason-item .mason-item-add-to-cart-button,
.mason-item .mason-item-close-button {
  display: none;
}

.mason-item--active {
  width: 400px;
  z-index: 5;
  border: 4px solid gold;
}
.mason-item--active .mason-item-text-container {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 1;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  color: white;
  text-shadow: 1px 1px 3px black;
  color: mix-blend-mode(difference, black, white);
  z-index: 8;
}
.mason-item--active .mason-item-add-to-cart-button {
  position: absolute;
  display: block;
  right: 0;
  padding: 0.5rem 1rem;
  background: transparent;
  color: white;
  width: 100%;
  border: none;
  background: rgba(0, 0, 0, 0.3137254902);
  transition: color 200ms, background 200ms;
}
.mason-item--active .mason-item-add-to-cart-button:hover {
  background: #000000;
}
.mason-item--active .mason-item-close-button {
  position: absolute;
  display: block;
  right: 0;
  padding: 0.5rem 1rem;
  background: transparent;
  color: white;
  border: none;
  font-size: 20px;
  text-shadow: 1px 1px 3px black;
  transition: color 200ms, background 200ms, rotate 200ms;
}
.mason-item--active .mason-item-close-button:hover {
  rotate: 180deg;
}
.mason-item--active .mason-item-add-to-cart-button {
  bottom: 0;
}
.mason-item--active .mason-item-close-button {
  top: 0;
}
.mason-item--active:active .mason-item-image-container {
  transform-origin: top left;
}

#cart {
  margin-left: 5vw;
  position: -webkit-sticky;
  position: sticky;
  top: 10vh;
  align-self: flex-start;
}

.cart-item {
  position: relative;
  display: grid;
  grid-template-areas: "image name" "image print" "image quantitybuttons" "image total";
  grid-template-columns: 200px 300px;
  border: 4px solid black;
  margin: 10px;
  padding: 10px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.cart-item .cart-item-title {
  grid-area: name;
}
.cart-item .cart-item-image-container {
  grid-area: image;
  background: green;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart-item .cart-item-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart-item .print-size-selector-container {
  grid-area: print;
  background: transparent;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: red;
}
.cart-item .print-size-selector-container label {
  display: inline-block;
  margin-right: 2rem;
  color: white;
  text-shadow: 1px 1px 3px black;
}
.cart-item .print-size-selector {
  border: none;
}
.cart-item .cart-item-remove {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background: transparent;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.cart-item .cart-item-quantity-button-container {
  grid-area: quantitybuttons;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cart-item .cart-item-quantity-button-container button {
  border: none;
  background: transparent;
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 3px black;
}
.cart-item .cart-item-quantity-button-container button:hover {
  color: black;
}
.cart-item .cart-item-total {
  grid-area: total;
}/*# sourceMappingURL=mason-gallery-2.css.map */