//Only grid layout here! Styling is styles.scss, using alternate classnames (rabbit)
#mason-gallery {
  display: grid;
  z-index: 2;
  gap: clamp(12px, 0.8rem + 0.5vw, 1rem + 1vw);
  margin: clamp(20px, 1.2rem + 0.5vw, 1.5rem + 1vw);
  grid-template-columns: repeat(4, 5vh);
  grid-template-rows: repeat(10, 5vw);
  grid-template-areas:
    "a e i m"
    "b e i m "
    "b f i m"
    "c f j m"
    "c f j n"
    "c g j o"
    "d g j o"
    "d g k p"
    "d g l p"
    "d h l p";

  @media (max-width: 1000px) {
    // grid-template-columns: repeat(1, clamp(200px, 200px + 2vw, 400px));
    grid-template-columns: repeat(3, 6.66vw);
    grid-template-rows: repeat(10, 6.66vw);

    grid-template-areas:
      "a f l"
      "a g l"
      "b g m"
      "b h m"
      "c h n"
      "c i n"
      "d i o"
      "d j o"
      "e j p"
      "e k p";
  }

  @media (max-width: 700px) {
    grid-template-columns: repeat(2, 10vw);
    grid-template-rows: repeat(10, 10vw);
    grid-template-areas:
      "a i"
      "b i"
      "b j"
      "c j"
      "c k"
      "d k"
      "d l"
      "e l"
      "e m"
      "f m"
      "f n"
      "g n"
      "g o"
      "h o"
      "h p";
  }

  @media (max-width: 400px) {
    grid-template-columns: repeat(1, 20vw);
    grid-template-rows: repeat(1, 20vw);
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f"
      "g"
      "h"
      "i"
      "j"
      "k"
      "l"
      "m"
      "n"
      "o"
      "p";
  }

  .mason-item-1 {
    grid-area: a;
  }

  .mason-item-2 {
    grid-area: b;
  }

  .mason-item-3 {
    grid-area: c;
  }

  .mason-item-4 {
    grid-area: d;
  }

  .mason-item-5 {
    grid-area: e;
  }

  .mason-item-6 {
    grid-area: f;
  }

  .mason-item-7 {
    grid-area: g;
  }

  .mason-item-8 {
    grid-area: h;
  }

  .mason-item-9 {
    grid-area: i;
  }

  .mason-item-10 {
    grid-area: j;
  }

  .mason-item-11 {
    grid-area: k;
  }
  .mason-item-12 {
    grid-area: l;
  }
  .mason-item-13 {
    grid-area: m;
  }
  .mason-item-14 {
    grid-area: n;
  }
  .mason-item-15 {
    grid-area: o;
  }
  .mason-item-16 {
    grid-area: p;
  }
}

.mason-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: scale 500ms;

  .mason-inner{
    transition: opacity 200ms;
  }
  &:hover {
    border: 10px solid white;
    width: 50vw;
    height: 50vw;
    z-index: 11;

    .mason-inner {
      position: absolute;
      top: 1rem;
      left: 1rem;
      display: block;
      z-index: 12;
      color: white;
    }

    &:active, &:focus {
      .mason-inner{
        opacity: 0.2;
      }
      scale: 1.2;
      
    }
  }
}
.mason-inner {
  display: none;
}
.mason-close-button {
  display: none;
}
.mason-image-container {
  width: 100%;

  height: 100%;
  display: flex;
  z-index: 2;
}

.mason-image-container .mason-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
