@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

li {
  list-style: none;
}

i {
  color: inherit;
  background: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-padding-top: 64px;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-indent: none;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#1e202d, #017ff0);
  color: #fafafa;
  scroll-snap-align: start;
}

header {
  width: 100vw;
  height: 64px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;
  background: #22222f;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 40px;
  max-height: 40px;
  line-height: 40px;
  width: 100vw;
  justify-content: space-between;
  padding: 0 1rem;
}
header nav .nav-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  width: auto;
  gap: 2rem;
  margin: auto 1rem;
}

section {
  margin: 0 10vw;
  position: relative;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.section-header {
  position: sticky;
  top: 64px;
  padding: 0 2rem;
  z-index: 7;
  height: 40px;
  max-height: 40px;
  line-height: 40px;
  width: 100vw;
  color: white;
  background: transparent;
}
.section-header .section-header-title {
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(20px, 1rem + 0.5vw, 2rem);
  font-weight: 400;
}

.section-content {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  margin-top: 5vh;
  min-height: calc(100vh - 64px - 40px);
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.button {
  margin-top: 2rem;
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(20px, 1rem + 0.5vw, 2rem);
  font-weight: 400;
  border-radius: 9999px;
  padding: 0.5rem 3rem;
  background: #333333;
  white-space: nowrap;
  font-weight: 700;
  box-shadow: 0 4px 4px 2px rgba(68, 68, 68, 0.3137254902);
  color: #fafafa;
  outline: none;
  border: none;
  cursor: pointer;
}

figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

#home {
  padding-top: 5vh;
}
#home .section-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  justify-content: center;
}
#home .section-content .home-portrait-container {
  overflow: hidden;
  box-shadow: 0px 0px 2px 1px #fafafa;
  width: clamp(340px, 40%, 800px);
}
#home .section-content .home-portrait-container .home-portrait {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  vertical-align: middle;
}
#home .section-content .home-text-container {
  font-family: "Outfit", sans-serif;
  font-size: clamp(32px, 32px + 0.5vw, 2.3rem);
  font-weight: 700;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  width: clamp(340px, 50%, 460px);
  margin: 1rem 2rem;
}
#home button {
  background-color: #017ff0;
}

@media (max-width: 700px) {
  #home .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
  }
  #home .section-content .home-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
#about {
  height: auto;
}
#about .section-content {
  height: auto;
}
#about .about-image {
  aspect-ratio: 1/1;
  width: 100%;
  padding: 1rem;
}
#about .about-image img {
  box-shadow: 0px 0px 2px 1px #fafafa;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  vertical-align: middle;
}
#about .about-image-1 {
  grid-column: 8/12;
  grid-row: 1/5;
}
#about .about-text-1 {
  grid-column: 2/8;
  grid-row: 2/4;
  text-align: right;
}
#about .about-image-2 {
  grid-column: 2/6;
  grid-row: 4/8;
}
#about .about-text-2 {
  grid-column: 6/12;
  grid-row: 5/7;
}
#about .about-image-3 {
  grid-column: 8/12;
  grid-row: 7/11;
}
#about .about-text-3 {
  grid-column: 2/8;
  grid-row: 8/12;
  text-align: right;
}
#about .about-text {
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(12px, 12px + 1vw, 1.4rem);
  font-weight: 400;
  padding: 1rem 2rem;
  display: block;
  font-family: "Rajdhani", sans-serif;
}
#about .about-text::first-letter {
  font-size: 1.5rem;
}
#about .about-text::first-line {
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(20px, 1rem + 0.5vw, 2rem);
  font-weight: 400;
  font-family: "Lobster", cursive;
}

@media (max-width: 700px) {
  #about {
    height: -moz-fit-content;
    height: fit-content;
  }
  #about .section-content {
    display: flex;
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    width: auto;
    margin: auto;
    padding: 5vw;
    overflow: scroll;
    overflow-x: hidden;
  }
  #about p {
    width: 400px;
  }
  #about .about-image {
    width: 400px;
  }
  #about .about-text-1,
  #about .about-text-2,
  #about .about-text-3 {
    text-align: left;
  }
}

#contact .section-content {
  gap: 1rem;
  font-family: "Rajdhani", sans-serif;
  margin-top: 10vh;
}
#contact .contact-text-block {
  grid-column: 3/11;
  grid-row: 2/4;
  font-family: "Rajdhani", sans-serif;
  font-family: "Outfit", sans-serif;
  font-size: clamp(32px, 32px + 0.5vw, 2.3rem);
  font-weight: 700;
  font-weight: 600;
}
#contact .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(12px, 12px + 1vw, 1.4rem);
  font-weight: 400;
  margin-top: 5vh;
  width: 100%;
  grid-column: 3/11;
  grid-row: 5/10;
  font-family: "Rajdhani", sans-serif;
  gap: 0.5rem;
}
#contact .contact-form .button {
  align-self: flex-end;
}
#contact input,
#contact textarea {
  width: 100%;
  height: 2rem;
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(20px, 1rem + 0.5vw, 2rem);
  font-weight: 400;
  color: #fafafa;
  background: #3b405f;
  border: none;
  font-family: "Rajdhani", sans-serif;
}
#contact textarea {
  height: 10rem;
  resize: none;
}

#main-shop .shop-title {
  font-family: "Outfit", sans-serif;
  font-size: clamp(32px, 32px + 0.5vw, 2.3rem);
  font-weight: 700;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  align-self: flex-start;
  padding: 0 3rem;
}
#main-shop .section-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100vw;
  margin-top: 5vh;
  height: -moz-fit-content;
  height: fit-content;
  min-height: auto;
  padding: 2rem;
}
#main-shop figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: clamp(80px, 30vw, 120px);
  height: clamp(50vh, 50vw, 60vh);
  overflow: hidden;
  box-shadow: 0px 0px 2px 1px #fafafa;
  transition: all 300ms;
  text-align: center;
  flex-grow: 1;
  flex-shrink: 3;
}
#main-shop figure:hover,
#main-shop figure:focus,
#main-shop figure:active {
  flex-grow: 3;
  width: 100%;
}
#main-shop figure:hover figcaption,
#main-shop figure:focus figcaption,
#main-shop figure:active figcaption {
  transform: rotate(0deg);
}
#main-shop figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  transition: scale 300ms;
  object-fit: cover;
}
#main-shop figure figcaption {
  position: absolute;
  left: 0;
  bottom: top;
  font-family: "Outfit", sans-serif;
  font-size: clamp(32px, 32px + 0.5vw, 2.3rem);
  font-weight: 700;
  writing-mode: vertical-rl;
  text-shadow: 0px 0px 4px #333333;
  transition: all 300ms;
}

#shop-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 10vh;
}

#header {
  background: #1e202d;
  height: 5vh;
}

#open-cart-modal {
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(20px, 1rem + 0.5vw, 2rem);
  font-weight: 400;
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
  position: fixed;
  top: 8px;
  right: 8px;
  cursor: pointer;
  z-index: 9999;
}
#open-cart-modal:hover {
  background-color: #017ff0;
}

.shop-categories {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.shop-categories .shop-category-button {
  background-color: #3b405f;
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(12px, 12px + 1vw, 1.4rem);
  font-weight: 400;
  font-weight: 600;
  padding: 0.2rem 0.8rem;
  min-width: 120px;
}
.shop-categories .shop-category-button:hover {
  background-color: #017ff0;
}
.shop-categories .active {
  background-color: #017ff0;
}

#shop-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  position: relative;
  margin-top: 1rem;
}

#shop-category-header {
  font-family: "Outfit", sans-serif;
  font-size: clamp(32px, 32px + 0.5vw, 2.3rem);
  font-weight: 700;
  font-family: "Rajdhani", sans-serif;
  padding: 0 2rem;
  width: 100vw;
  text-transform: capitalize;
}

#shop-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-content: center;
  padding: 0 3vw;
  height: -moz-fit-content;
  height: fit-content;
  min-height: auto;
}

.shop-item {
  width: 100%;
  font-family: "Rajdhani", sans-serif;
}
.shop-item .shop-item-image-container {
  overflow: hidden;
  padding: 0.5rem;
}
.shop-item .shop-item-image-container .shop-item-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  aspect-ratio: 1/1;
  transition: all 200ms;
}
.shop-item .shop-item-info {
  margin-top: 0.5rem;
}
.shop-item .shop-item-info .shop-item-year {
  margin-top: 0.5rem;
}
.shop-item:hover .shop-item-image {
  transform: scale(1.1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 200ms;
}
.modal .modal-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  justify-content: space-between;
  font-family: "Rajdhani", sans-serif;
  width: clamp(400px, 80%, 800px);
  margin: 10% auto;
  padding: 0.5rem 1rem;
  border-radius: 16px;
  background-color: #3b405f;
}
.modal .modal-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
  align-items: flex-start;
  font-size: 1.25rem;
  position: relative;
}
.modal .modal-left .modal-image-container {
  width: clamp(180px, 100%, 300px);
  box-shadow: 2px 8px 8px 0px #111;
  aspect-ratio: 1/1;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 200ms;
}
.modal .modal-left .modal-image-container:active,
.modal .modal-left .modal-image-container:focus {
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 80vh;
  height: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-left .modal-image-container .modal-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.modal .modal-left .modal-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  padding: 0.4rem;
  text-shadow: 1px 1px 4px black;
}
.modal .modal-left .modal-info-container .modal-info-title {
  font-weight: 600;
  font-size: 1.25rem;
}
.modal .modal-left .modal-info-container .modal-info-year {
  font-size: 1rem;
}
.modal .modal-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
  align-items: flex-start;
  font-size: 1.25rem;
  padding: 1rem;
  margin-top: 1rem;
}
.modal .modal-right .button {
  background: #017ff0;
  border: none;
  outline: none;
  font-weight: 800;
  font-size: 1.25rem;
  width: 100%;
  cursor: pointer;
  justify-self: flex-end;
  align-self: flex-end;
}
.modal .modal-right .modal-selection-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  gap: 1rem;
}
.modal .modal-right .modal-selection-container .modal-selection-label {
  width: 120px;
}
.modal .modal-right .modal-selection-container #modal-total-price {
  width: 200px;
}
.modal .modal-right .modal-selection-container .modal-selection-input {
  background: #fafafa;
  color: #333333;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border-radius: 999px;
  font-weight: 400;
  border: none;
  outline: none;
  padding: 0.25rem;
}
.modal .modal-right .modal-selection-container .modal-selection-button {
  background: transparent;
  outline: none;
  border: none;
  font-weight: 800;
  font-size: 1.5rem;
  cursor: pointer;
  width: 2rem;
}
.modal #modal-close-button {
  outline: none;
  border: none;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 999px;
  font-weight: 600;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  content: "X";
  cursor: pointer;
}

.cart-modal {
  display: none;
  z-index: 999;
  width: 100%;
  height: 95%;
  background: #1e202d;
  padding: 1rem 0 1rem 1rem;
  font-family: "Rajdhani", sans-serif;
  overflow: hidden;
  position: fixed;
  top: 5%;
  left: 0%;
}

#cart-modal-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
  padding-bottom: 4rem;
}

#cart-modal-list {
  width: 80%;
  padding: 0 1rem;
  height: 100%;
  overflow-y: scroll;
  scrollbar-color: #017ff0 #3b405f;
  scrollbar-width: 2px;
}

.cart-item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(12px, 12px + 1vw, 1.4rem);
  font-weight: 400;
  padding: 0.5rem 1rem;
  background: #1e202d;
}
.cart-item:not(:last-child):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fafafa;
}
.cart-item .cart-item-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.cart-item .cart-item-middle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5rem;
}
.cart-item .cart-item-right {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
}

.cart-item-image-container {
  width: clamp(64px, 10vw, 128px);
  aspect-ratio: 1/1;
}
.cart-item-image-container .cart-item-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.cart-item-info-container {
  width: 100%;
}

.cart-item-selection-container {
  width: 100%;
}

.cart-modal-remove-button {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  outline: none;
  border: none;
  font-weight: 500;
  border-radius: 999px;
  font-family: "Rajdhani", sans-serif;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 32px;
  background: transparent;
  color: white;
  cursor: pointer;
}

#cart-modal-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  padding: 0 1rem;
  margin-left: 2rem;
  background: #1e202d;
  position: sticky;
  top: 2rem;
  right: 0;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
#cart-modal-total #cart-modal-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 0.5rem;
  margin: 1rem 0;
}
#cart-modal-total #cart-modal-summary #cart-modal-total-header {
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(20px, 1rem + 0.5vw, 2rem);
  font-weight: 400;
}
#cart-modal-total #cart-modal-summary p,
#cart-modal-total #cart-modal-summary h3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
}
#cart-modal-total #cart-modal-summary .big-total {
  font-family: "Rajdhani", sans-serif;
  font-size: clamp(20px, 1rem + 0.5vw, 2rem);
  font-weight: 400;
  font-weight: 600;
}
#cart-modal-total #cart-modal-total-checkout {
  background: #017ff0;
  border: none;
  outline: none;
  font-weight: 800;
  font-size: 1.25rem;
  border-radius: 16px;
  padding: 0.2rem 1rem;
  cursor: pointer;
}

.open {
  display: block;
  z-index: 999;
  height: 100%;
}

@media (max-width: 768px) {
  #header {
    font-family: "Rajdhani", sans-serif;
    font-size: clamp(12px, 12px + 1vw, 1.4rem);
    font-weight: 400;
    padding: 0 0;
  }
  #header .logo {
    display: none;
    width: 0px;
  }
  .cart-modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
  }
  #cart-modal-content {
    flex-direction: column;
  }
  #cart-modal-list {
    width: 100%;
    height: 80%;
  }
  #cart-modal-total {
    width: 100%;
    margin: 0;
    border-radius: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
}
