$header-height: 64px;
$section-header-height: 32px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-indent: none;
  // border: 1px solid lime;
}

li {
  list-style: none;
}

i {
  color: inherit;
  background: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-padding-top: $header-height;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100vw;
  z-index: 10;
  background: lightblue;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  height: $header-height;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  height: $section-header-height;
  max-height: $section-header-height;
  line-height: $section-header-height;
  padding: 0 1rem;
  svg {
    font-size: 24px;
  }

  .nav-list {
    display: flex;
  }

  .social-list {
    display: flex;
  }
}

section {
  width: 100vw;

  .section-header {
    position: sticky;
    top: $header-height;
    z-index: 7;
  }
  .section-content {
    width: 100vw;
    padding: 0 clamp(1rem, 10vw, 800px);
  }

  .section-header-title {
    height: $section-header-height;
    max-height: $section-header-height;
    line-height: $section-header-height;
    width: 100vw;
  }
}
