$header-height: 64px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-indent: none;
  border: 1px solid lime;
}


li {
  list-style: none;
}

i{
  color: inherit;
  background: inherit;

}
a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-padding-top:$header-height;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100vw;
  z-index: 10;
  background: lightblue;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  height: $header-height;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  height: 30px;
  line-height: 30px;
  svg{
    font-size: 24px;
  }


  .nav-list {
    display: flex;
  }

  .social-list {
    display: flex;
  }
}

$width-container: clamp(600px, 100vw, 1200px);
$width-inner: clamp(400px, 80vw, 1000px);


section {
  width: $width-container;
  margin-top: $header-height;

  .section-header {
    position: sticky;
    top: $header-height;
  }

  .section-header-title {

  }

  .section-content {
  }

  .section-content-text {
  }
}
