//Fonts from Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Sacramento:wght@100;200;300;400;500;600;700;800;900&display=swap");
//font-family: 'Sacramento', cursive;
@import url("https://fonts.googleapis.com/css2?family=Sevillana:wght@100;200;300;400;500;600;700;800;900&display=swap");
//font-family: 'Sevillana', cursive;
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
//font-family: 'Satisfy', cursive;
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
//font-family: 'Macondo', cursive;
@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");
//font-family: 'Rowdies', cursive;
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
//font-family: 'Yeseva One', cursive;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
//font-family: 'Poppins', sans-serif; //weight 100-900
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
//font-family: 'Outfit', sans-serif; //weight 100-900
@import url("https://fonts.googleapis.com/css2?family=Allura:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
//font-family: 'Allura', sans-serif; //weight 100-900

$header-height: 64px;
$section-header-height: 32px;

//Transition Variables
$transition-slow: 500ms;
$transition-medium: 300ms;
$transition-fast: 120ms;

//Color Variables
$color-primary: #39b0df;
$color-primary-dark: #2a8aa7;
$color-primary-light: #6cd3ff;
$color-secondary: #ecb709;
$color-secondary-dark: #b98a05;
$color-secondary-light: #ffda3a;
$color-tertiary: #c05454;
$color-tertiary-dark: #8f3a3a;
$color-tertiary-light: #e07a7a;
$color-quaternary: #0ee7c3;
$color-quaternary-dark: #0abf9b;
$color-quaternary-light: #3fffe0;

$color-light: #fafafa;
$color-dark: #333333;
$white: rgb(255, 255, 255);
$black: #000;

//Cursive Fonts
$font-fancy1: "Sacramento", cursive;
$font-fancy2: "Sevillana", cursive;
$font-fancy3: "Satisfy", cursive;
$font-fancy4: "Macondo", cursive;
$font-fancy5: "Rowdies", cursive;
$font-fancy6: "Yeseva One", cursive;

//Sans Serif Fonts
$font-family-large: "Outfit", sans-serif;
$font-family-medium: "Poppins", sans-serif;
$font-family-small: "Poppins", sans-serif;

//Font Sizes
$font-size-icon: clamp(24px, 3.5vw, 48px);
$font-size-huge: clamp(64px, 5vw, 4rem);
$font-size-large: clamp(2rem, 3vw, 3rem);
$font-size-medium: clamp(1.25rem, 1.75vw, 2rem);
$font-size-small: clamp(1rem, 1w, 1.5rem);

//Font mixins
@mixin font-icon {
  font-family: $font-family-large;
  font-size: $font-size-icon;
  font-weight: 800;
}
@mixin font-huge {
  font-family: $font-family-large;
  font-size: clamp(64px, 5vw, 120px);
  font-weight: 800;
}
@mixin font-large {
  font-family: $font-family-large;
  font-size: $font-size-large;
  font-weight: 700;
}

@mixin font-medium {
  font-family: $font-family-medium;
  font-size: $font-size-medium;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 2px;
}

@mixin font-small {
  font-family: $font-family-small;
  font-size: $font-size-small;
  font-weight: 400;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

$image-large-width: clamp(300px, 100%, 6vw);
$image-medium-width: clamp(240px, 100%, 6vw);
$image-small-width: clamp(160px, 100%, 6vw);
$image-tiny-width: clamp(120px, 100%, 6vw);

@mixin image-fill-center {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@mixin image-large-container {
  width: $image-large-width;

  overflow: hidden;
  aspect-ratio: 1/1;
  object-fit: cover;
}

@mixin image-medium-container {
  width: $image-medium-width;
  overflow: hidden;
  aspect-ratio: 1/1;
  object-fit: cover;
}

@mixin image-small-container {
  width: $image-small-width;
  overflow: hidden;
  aspect-ratio: 1/1;
  object-fit: cover;
}

@mixin image-tiny-container {
  width: $image-tiny-width;
  overflow: hidden;
  aspect-ratio: 1/1;
  object-fit: cover;
}

@mixin image-large {
  width: $image-large-width;
  overflow: hidden;
  aspect-ratio: 1/1;
  object-fit: cover;
}

@mixin image-medium {
  width: $image-medium-width;
  overflow: hidden;
  aspect-ratio: 1/1;
  object-fit: cover;
}

@mixin image-small {
  width: $image-small-width;
  overflow: hidden;
  aspect-ratio: 1/1;
  object-fit: cover;
}

@mixin image-tiny {
  width: $image-tiny-width;
  overflow: hidden;
  aspect-ratio: 1/1;
  object-fit: cover;
}

figure {
  position: relative;
  @include image-large-container();
  background: $white;
  margin: 1rem;
  @include flex-column();
  border: 4px solid white;

  img {
    @include image-fill-center();
    transition: all $transition-medium ease-in-out;
    filter: brightness(0.8);
  }
  figcaption {
    @include font-small();
    display: none;
    transition: all $transition-slow ease-in-out;
  }

  &:hover {
    img {
      scale: 1.1;
      filter: brightness(1);
    }

    figcaption {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: auto;
      color: white;
      background: #00000080;
    }
  }
}

li {
  list-style: none;
}

i {
  color: inherit;
  background: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-padding-top: $header-height;
  scroll-behavior: smooth;
}

.section-header {
  background: black;
  color: white;
}

.section-header-title {
  @include font-medium;
  padding: 0 2vw;
}

.section-background {
  // background: linear-gradient($color-primary, $color-secondary);
  // background-size: 400% 400%;
  // animation: backgroundGradientMove 1s ease infinite;
  // content: "";
  // display: block;
  // position: fixed;
  // width: 100%;
  // height: 100%;
  // z-index: -1;
  // top: 0;
  // left: 0;


  &:nth-child(even) {
    background: red;
  }
  &:nth-child(odd){
    background: green;
  }
}



@keyframes backgroundGradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#header {
  // @include font-small;
  // Hide header and nav names on small screens
  a {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    white-space: nowrap;
    flex-wrap: nowrap;
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .header-name {
    transition: all 200ms;
    display: flex;
  }

  .nav-list,
  .social-list,
  a {
    gap: 0.5rem;
    padding: 0 0.25rem;
  }

  @media (max-width: 900px) {
    ul a {
      display: flex;
      flex-direction: column;
    }

    .header-link {
      &:hover {
        .header-name {
          max-width: 100px;
          width: 100%;
          opacity: 1;
        }
      }
    }
    .header-name {
      max-width: 0px;
      opacity: 0;
    }
  }
}

#home {
  margin-top: $header-height; //prevents losing header under nav

  .home-content {
    @include flex-column;
  }

  .home-portrait-container {
    @include flex-row;
    width: clamp(300px, 40vw, 1000px);
    aspect-ratio: 1/1.5;
    border: 8px solid $white;
    background: $white;
    overflow: visible;

    .home-portrait-signature {
      @include font-large;
      display: none;
      width: 0px;
      height: 0px;
      max-width: 0px;
      max-height: 0px;
      writing-mode: vertical-rl;
      color: $color-primary;
      text-shadow: 2px 2px $black;
      transition: all 2s ease-in-out;
    }

    img {
      @include image-fill-center;
      display: block;
    }

    &:hover,
    &:focus,
    &:active {
      .home-portrait-signature {
        display: block;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .home-cards {
    @include flex-row;
  }

  .home-card {
  }
}

#about {
  @include flex-column;

  .about-content {
    @include flex-column;
  }

  .about-section {
    position: relative;
    display: inline;

    &:nth-child(odd) {
      figure {
        float: inline-end;
      }
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
      box-shadow: 0 4px black;
    }

    p {
      @include font-medium();
      text-transform: none;
      letter-spacing: 2px;
      text-align: left;

      &::first-line {
        font-size: 2rem;
        font-weight: 800;
        font-family: $font-fancy3;
      }

      &::first-letter {
        font-size: 3rem;
        font-weight: 800;
      }
    }

    figure {
      float: inline-start;
      @include image-large-container();
    }
  }
}

#contact {
  @include flex-column;

  .section-content {
    @include flex-column;
  }
}
