//Fonts from Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Sacramento:wght@100;200;300;400;500;600;700;800;900&display=swap");
//font-family: 'Sacramento', cursive;
@import url("https://fonts.googleapis.com/css2?family=Sevillana:wght@100;200;300;400;500;600;700;800;900&display=swap");
//font-family: 'Sevillana', cursive;
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
//font-family: 'Satisfy', cursive;
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
//font-family: 'Macondo', cursive;
@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");
//font-family: 'Rowdies', cursive;
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
//font-family: 'Yeseva One', cursive;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
//font-family: 'Poppins', sans-serif; //weight 100-900
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
//font-family: 'Outfit', sans-serif; //weight 100-900
@import url("https://fonts.googleapis.com/css2?family=Allura:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
//font-family: 'Allura', sans-serif; //weight 100-900

$width-container: clamp(600px, 100vw, 1200px);
$width-inner: clamp(400px, 80vw, 800px);

//Transition Variables
$transition-slow: 0.5s ease-in-out;
$transition-regular: 0.3s ease-in-out;
$transition-fast: 0.15s ease-in-out;

//Color Variables
$color-primary: #39b0df;
$color-primary-dark: #2a8aa7;
$color-primary-light: #6cd3ff;
$color-secondary: #ecb709;
$color-secondary-dark: #b98a05;
$color-secondary-light: #ffda3a;
$color-light: #fafafa;
$color-dark: #333333;
$white: rgb(255, 255, 255);
$black: #000;

//Cursive Fonts
$font-fancy1: "Sacramento", cursive;
$font-fancy2: "Sevillana", cursive;
$font-fancy3: "Satisfy", cursive;
$font-fancy4: "Macondo", cursive;
$font-fancy5: "Rowdies", cursive;
$font-fancy6: "Yeseva One", cursive;

//Sans Serif Fonts
$font-family-large: "Outfit", sans-serif;
$font-family-medium: "Poppins", sans-serif;
$font-family-small: "Poppins", sans-serif;

//Font Sizes
$font-size-icon: clamp(24px, 3.5vw, 48px);
$font-size-huge: clamp(64px, 5vw, 4rem);
$font-size-large: clamp(2rem, 3vw, 3rem);
$font-size-medium: clamp(1.25rem, 1.75vw, 2rem);
$font-size-small: clamp(1rem, 1.5vw, 1.25rem);

//Font mixins
@mixin font-icon {
  font-family: $font-family-large;
  font-size: $font-size-icon;
  font-weight: 800;
}
@mixin font-huge {
  font-family: $font-family-large;
  font-size: clamp(64px, 5vw, 120px);
  font-weight: 800;
}
@mixin font-large {
  font-family: $font-family-large;
  font-size: $font-size-large;
  font-weight: 700;
}

@mixin font-medium {
  font-family: $font-family-medium;
  font-size: $font-size-medium;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 2px;
}

@mixin font-small {
  font-family: $font-family-small;
  font-size: $font-size-small;
  font-weight: 400;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

@mixin image-large {
  width: 100%;
}

@mixin image-medium {
  width: clamp(160px, 30vw, 320px);
}

@mixin image-small {
  width: 100%;
}

.section-header {
  background: black;
  color: white;
}

.section-header-title {
  @include font-medium;
  padding-left: 2rem;
}

figure {
  background: #f5f5f5;
  padding: 0.5rem;
  border: 4px solid black;
  box-shadow: 4px 4px black;
  width: 100%;
  position: relative;
  top: 4px;
  left: 4px;

  figcaption {
    color: $color-primary-dark;
    font-family: $font-fancy1;
    width: 100%;
    text-align: center;
    user-select: none;
    cursor: pointer;
  }
  img {
    position: relative;
    object-fit: cover;
    width: 100%;
    border: 4px solid black;
    vertical-align: center;
    filter: grayscale(50%);
    transition: filter $transition-slow;
  }

  transition: top $transition-fast, left $transition-fast,
    box-shadow $transition-fast;

  &:hover,
  &:focus {
    border: 4px solid $color-secondary;
    img {
      filter: grayscale(0%);
    }
  }
  &:hover {
    top: -4px;
    left: -4px;
    box-shadow: 16px 16px 8px black;
  }

  &:active {
    img {
      border: 4px solid $color-secondary;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 50vw;
      width: 50vw;
      max-width: 1000px;
      z-index: 11;
    }
  }
}

#header {
  @include font-small;
  // Hide header and nav names on small screens
  a {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    white-space: nowrap;
    flex-wrap: nowrap;
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .header-name {
    transition: all 200ms;
    display: flex;
  }

  .nav-list,
  .social-list,
  a {
    gap: 0.5rem;
    padding: 0 0.25rem;
  }

  @media (max-width: 900px) {
    ul a {
      display: flex;
      flex-direction: column;
    }

    .header-link {
      &:hover {
        .header-name {
          max-width: 100px;
          width: 100%;
          opacity: 1;
        }
      }
    }
    .header-name {
      max-width: 0px;
      opacity: 0;
    }
  }
}

#home {
  .section-content {
    padding: 3vw;
    gap: 3vw;
    @include flex-column;
    min-height: 100vh;

    .home-portrait {
      figcaption {
        @include font-huge;
        font-family: $font-fancy1;
        font-weight: 800;
      }
    }
  }

  .home-cards {
    @include flex-row;
    gap: 1rem;

    figcaption {
      @include font-medium;
      text-align: left;
    }
  }

  @media (min-width: 900px) {
    .section-content {
      @include flex-row;
      flex-direction: row-reverse;
    }

    .home-cards {
      @include flex-column();

      figure {
        @include flex-column;
        img {
          @include image-medium;
        }
      }
    }
  }
}

#about {
  background: red;
  @include flex-column;

}
