@import url("https://fonts.googleapis.com/css2?family=Sacramento:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sevillana:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
#header {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}
#header a {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  flex-wrap: nowrap;
  padding: 0 0.5rem;
}
#header .logo {
  width: 100%;
  display: flex;
  justify-content: left;
}
#header .header-name {
  transition: all 200ms;
  display: flex;
}
@media (max-width: 900px) {
  #header ul a {
    display: flex;
    flex-direction: column;
  }
  #header .header-link:hover .header-name {
    max-width: 100px;
    width: 100%;
    opacity: 1;
  }
  #header .header-name {
    max-width: 0px;
    opacity: 0;
  }
}

figcaption {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.25rem, 1.75vw, 2.5rem);
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 2px;
}

#home .section-content {
  display: flex;
  flex-direction: row;
}
#home .section-content .home-cards {
  width: 50%;
  text-align: left;
}
#home .section-content .home-cards figure {
  justify-content: center;
  align-items: center;
}
#home .section-content .home-cards figure img {
  width: clamp(300px, 30vw, 600px);
  width: 0px;
  height: 0px;
  padding: 1rem;
  transition: all 200ms;
}
#home .section-content .home-cards figure:hover img {
  width: clamp(200px, 100%, 30vw);
  height: auto;
}
#home .section-content .home-portrait {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#home .section-content .home-portrait figure img {
  width: clamp(300px, 30vw, 600px);
}
#home .section-content .home-portrait figure figcaption {
  font-family: "Outfit", sans-serif;
  font-size: clamp(2rem, 3vw, 48px);
  font-weight: 800;
  font-family: "Sacramento", cursive;
  font-weight: 800;
  color: #2a8aa7;
}

#about .about-content {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  border: 4px solid black;
  margin: 2rem;
  position: relative;
  top: 2px;
  left: 2px;
  box-shadow: 4px 4px black;
  transition: all 200ms;
}
#about .about-content .about-text {
  padding: 1rem 2rem;
  align-self: baseline;
}
#about .about-content .about-text:first-line {
  font-size: 1.15rem;
  font-weight: 700;
}
#about .about-content figure {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: all 200ms;
}
#about .about-content figure img {
  transition: scale 200ms;
  width: clamp(140px, 30vw, 320px);
  padding: 1rem;
}
#about .about-content figure:active, #about .about-content figure:focus {
  scale: 1.3;
}
#about .about-content figure:active figcaption, #about .about-content figure:focus figcaption {
  color: transparent;
}
#about .about-content:hover {
  box-shadow: 12px 12px black;
  top: -2px;
  left: -2px;
}
#about .about-content:hover figure img {
  scale: 1.1;
}

#home .home-background-image {
  display: none;
}/*# sourceMappingURL=main-styles.css.map */