//Fonts from Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Sacramento:wght@100;200;300;400;500;600;700;800;900&display=swap");
//font-family: 'Sacramento', cursive;
@import url("https://fonts.googleapis.com/css2?family=Sevillana:wght@100;200;300;400;500;600;700;800;900&display=swap");
//font-family: 'Sevillana', cursive;
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
//font-family: 'Satisfy', cursive;
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
//font-family: 'Macondo', cursive;
@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");
//font-family: 'Rowdies', cursive;
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
//font-family: 'Yeseva One', cursive;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
//font-family: 'Poppins', sans-serif; //weight 100-900
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
//font-family: 'Outfit', sans-serif; //weight 100-900
@import url("https://fonts.googleapis.com/css2?family=Allura:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
//font-family: 'Allura', sans-serif; //weight 100-900
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
//font-family: 'Lobster', cursive;
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
//font-family: 'Rajdhani', sans-serif;
$header-height: 64px;
$section-header-height: 40px;
$header-padding: 2rem;

//Transition Variables
$transition-slow: 500ms;
$transition-medium: 300ms;
$transition-fast: 120ms;

$cursive: "Satisfy", cursive;
$sans: "Rajdhani", sans-serif;

$bold: 700;
$normal: 400;

$color-primary-darker: #0c0d15;
$color-primary-dark: #1e202d;
$color-primary-light: #017ff0;
$color-primary: #3b405f;

$color-light: #fafafa;
$color-dark: #333333;
$background: #22222f;

//Cursive Fonts
$font-fancy1: "Sacramento", cursive;
$font-fancy2: "Sevillana", cursive;
$font-fancy3: "Satisfy", cursive;
$font-fancy4: "Macondo", cursive;
$font-fancy5: "Rowdies", cursive;
$font-fancy6: "Yeseva One", cursive;
$font-fancy6: "Lobster", cursive;

//Sans Serif Fonts
$font-family-large: "Outfit", sans-serif;
$font-family-medium: $sans;
$font-family-small: $sans;

//Font Sizes
$font-size-icon: clamp(24px, 3.5vw, 48px);
$font-size-huge: clamp(48px, 5vw, 4rem);
$font-size-large: clamp(36px, 3vw, 3rem);
$font-size-medium: clamp(24px, 1rem + 0.5vw, 2rem);
$font-size-small: clamp(16px, 1vw, 1.5rem);

//Font mixins
@mixin font-icon {
  font-family: $font-family-large;
  font-size: $font-size-icon;
  font-weight: 800;
}
@mixin font-huge {
  font-family: $font-family-large;
  font-size: $font-size-huge;
  font-weight: 800;
}
@mixin font-large {
  font-family: $font-family-large;
  font-size: $font-size-large;
  font-weight: 700;
}

@mixin font-medium {
  font-family: $font-family-medium;
  font-size: $font-size-medium;
  font-weight: 400;
}

@mixin font-small {
  font-family: $font-family-small;
  font-size: $font-size-small;
  font-weight: 400;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

$image-large-width: clamp(300px, 100%, 30vw);
$image-medium-width: clamp(120px, 100%, 20vw);
$image-small-width: clamp(80px, 100%, 12vw);
$image-tiny-width: clamp(600px, 100%, 8vw);

@mixin image-fill-center {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

li {
  list-style: none;
}
i {
  color: inherit;
  background: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-padding-top: $header-height;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

// LAYOUT ------------------------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-indent: none;
  // border: 1px solid lime;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background;
  color: $color-light;
}

section {
  margin-top: $header-height; //prevents losing header under nav
  padding: 0 10vw;
  min-height: calc(100vh - $header-height);
  position: relative;
  @include flex-column();
  .section-header {
    position: sticky;
    top: $header-height;
    z-index: 7;
    height: $section-header-height;
    max-height: $section-header-height;
    line-height: $section-header-height;
    width: 100vw;
    color: white;
    background: $color-primary;
    padding: 0 $header-padding;
    .section-header-title {
      @include font-medium;
    }
  }
  .section-content {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    min-height: calc(100vh - $header-height - $section-header-height);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    // Grid rows are defined in individual sections
  }
}

//END LAYOUT--------------------------------------------------

#header {
  // Hide header and nav names on small screens
  width: 100vw;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 0 $header-padding;
  position: fixed;
  top: 0;
  left: 0;
  background: $color-primary-darker;

  nav {
    justify-content: space-between;
    height: $section-header-height;
    max-height: $section-header-height;
    line-height: $section-header-height;
    display: flex;
    flex-direction: row;
    width: auto;

    .nav-list {
      display: flex;
      font-weight: 600;
      width: auto;
      gap: 2rem;
      margin: auto 1rem;
      font-family: $sans;
    }
  }
}

#home {
  .section-content {
    .home-portrait-container {
      grid-column: 2 / 7;
      grid-row: 2/10;
      overflow: hidden;
      position: relative;
      .home-portrait {
        background: red;

        @include image-fill-center();
      }
    }

    .home-text-container {
      @include font-large;
      font-family: $sans;
      font-weight: 600;

      grid-column: 7 / 12;
      grid-row: 3/11;
      padding: 0 3vw;

      span {
      }
    }
    button {
      margin-top: 2rem;
      background: #017ff0;
      @include font-medium;
      border-radius: 9999px;
      padding: 0.5rem 3rem;
      color: $color-light;
      outline: none;
      border: none;
    }
  }
}

.button {
  margin-top: 2rem;
  background: #017ff0;
  @include font-medium;
  border-radius: 9999px;
  padding: 0.5rem 3rem;
  color: $color-light;
  outline: none;
  border: none;
  cursor: pointer;
}

#about {
  figure {
  }
  .section-content {
    margin-top: 5vh;
    justify-content: center;
    height: auto;
    figure {
      img {
        @include image-fill-center();
      }
    }
  }

  .about-text {
    @include font-small;
    padding: 1rem 2rem;
    display: block;
    font-family: $sans;
    font-size: 0.8rem;
    &::first-letter {
    }

    &::first-line {
      font-size: 1.25rem;
      font-family: $font-fancy6;
    }
  }

  figcaption {
    opacity: 0;
  }

  .about-image-1 {
    grid-column: 8/12;
    grid-row: 1/5;
  }
  .about-text-1 {
    grid-column: 2/8;
    grid-row: 2/4;
    text-align: right;
    // background: lightgreen;
  }

  .about-image-2 {
    grid-column: 2/6;
    grid-row: 4/8;
  }
  .about-text-2 {
    grid-column: 6/12;
    grid-row: 5/7;
    // background: lightblue;
  }

  .about-image-3 {
    grid-column: 8/12;
    grid-row: 7/11;
  }
  .about-text-3 {
    grid-column: 2/8;
    grid-row: 8/12;
    // background: lightcoral;
    text-align: right;
  }
}

#contact {
  .section-content {
    gap: 1rem;
    width: 100%;
    font-family: $sans;
    margin-top: 10vh;
  }
  .contact-text-block {
    grid-column: 3/10;
    grid-row: 1/2;
    font-family: $sans;
    @include font-large;
    font-weight: 400;
  }

  .contact-form {
    margin-top: 5vh;
    grid-column: 3/10;
    grid-row: 2/11;
    @include flex-column;
    font-family: $sans;
    @include font-small;
    gap: 0.5rem;

    .button {
      align-self: flex-end;
    }
  }

  input,
  textarea {
    width: 100%;
    height: 2rem;
    @include font-medium;
    color: $color-light;
    background: $color-primary;
    border: none;
    font-family: $sans;
  }

  textarea {
    height: 10rem;
    resize: none;
  }
}

#mason-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  align-self: left;
  justify-self: left;
  justify-content: left;
  align-content: left;

  width: 100%;
  margin: auto;

  .mason-item {
    position: relative;
    border: 4px solid black;
    margin: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: width 200ms, height 200ms;

    &:hover,
    &:focus,
    &:active {
    }

    .mason-item-text-container {
      display: none;
      opacity: 0;
      user-select: none;
      color: transparent;
      transition: opacity 200ms;
      .mason-item-description {
        display: none;
      }
    }

    .mason-item-image-container {
      width: 100%;
      height: 100%;
      .mason-item-image {
        @include image-fill-center;
      }
    }

    .mason-item-add-to-cart-button,
    .mason-item-close-button {
      display: none;
    }
  }

  .mason-item--active {
    width: 50vw;
    height: auto;
    aspect-ratio: 1/1;
    z-index: 5;
    position: fixed;
    top: 20%;
    right: 0%;

    .mason-item-text-container {
      position: absolute;
      top: 0;
      display: block;
      opacity: 1;
      user-select: text;
      color: white;
      text-shadow: 1px 1px 3px black;
      padding: 0.25rem 0.5rem;
      z-index: 8;
    }

    .mason-item-image-container {
      overflow: hidden;
    }

    .mason-item-add-to-cart-button {
      position: absolute;
      display: block;
      right: 0;
      padding: 0.5rem 1rem;
      background: transparent;
      color: white;
      width: 100%;
      border: none;
      background: #00000080;

      @include font-medium;
      transition: color 200ms, background 400ms;
      &:hover {
        background: #000000;
      }
    }

    .mason-item-close-button {
      position: absolute;
      display: block;
      right: 0;
      padding: 0.5rem 1rem;
      background: transparent;
      color: white;
      border: none;
      font-size: 20px;
      text-shadow: 1px 1px 3px black;
      // mix-blend-mode: darken;
      transition: color 200ms, background 200ms, rotate 200ms;
      &:hover {
        rotate: 180deg;
      }
    }

    .mason-item-add-to-cart-button {
      bottom: 0;
    }

    .mason-item-close-button {
      top: 0;
    }

    &:active {
      .mason-item-text-container {
      }
      .mason-item-add-to-cart-button {
      }

      .mason-item-image-container {
        // z-index: 99;
        transform-origin: top left;
        // transform: scale(1.5);
      }
    }
  }
}

#cart {
  .cart-item {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    border: 4px solid black;
    color: white;
    text-shadow: 0 0 8px black;
    width: 100%;
    .cart-item-image-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .cart-item-image {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .cart-item-text-container {
      width: 100%;
      padding: 0.5vw 1vw;
      background: #00000060;
      z-index: 3;
      @include font-medium;
    }

    .cart-item-print-size-container {
      display: flex;
      white-space: nowrap;
      select {
        border: none;
        padding: 0 1rem;
        @include font-medium;
        text-align: center;
        color: white;
        background: transparent;
        width: 100%;
        cursor: pointer;

        option {
          color: black;
        }
      }
    }

    .cart-item-quantity-button-container {
      display: flex;

      .cart-item-quantity-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 1rem;
        color: white;
        text-shadow: 0 0 4px black;

        button {
          margin: 0 1rem;
          padding: 0 0.5rem;
          border: none;
          color: white;
          @include font-medium;
          background: transparent;
          cursor: pointer;
          transition: border $transition-slow;
        }
      }
    }

    .cart-item-total-container {
      display: flex;
      white-space: nowrap;
      justify-content: flex-end;
      align-items: center;
      @include font-medium;
      padding: 0 1rem;
    }

    .cart-item-label {
      min-width: 200px;
    }

    .cart-item-remove-container {
      position: absolute;
      top: 0;
      right: 0;
      background: transparent;
      border: none;

      button {
        @include font-medium;
        text-transform: uppercase;
        color: white;
        text-shadow: 0 0 4px black;

        border: none;
        cursor: pointer;
        outline: none;
        background: green;
        background: transparent;
      }
    }
  }
}

#main-shop {
  @include flex-column();
  height: 600px;
  .shop-title {
    @include font-large();
    font-weight: 700;
    font-family: $sans;
    align-self: flex-start;
    padding: 0 3rem;;
    margin-top: 5vh;
  }
  .section-content {
    margin-top: 5vh;
    width: 100%;
    padding: 0 10vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 320px);
    grid-gap: 1rem;
  }

  figure {
    background: red;
    margin: 1rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-justify: center;
    width: 200px;
    aspect-ratio: 1/1.5;
    img {
      @include image-fill-center();
    }
    .button {
      @include font-small;
      white-space: nowrap;
      padding: 0.5rem 1rem;
      background: $color-light;
      color: $color-dark;
      font-weight: 700;
      box-shadow: 0 4px 4px 2px #44444450;
    }
    figcaption {
      position: absolute;
      bottom: 0.5rem;
    }
  }
}
