@import "./shared-styles.scss";
#shop-page {
  @include flex-column;
  width: 100%;
}

#shop-categories {
  width: 100%;
  @include flex-row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .shop-category-button {
    background: $color-primary;
    font-weight: 600;
    padding: 0.8rem calc(1rem + 2vw);
    min-width: 200px;
    &:hover {
      background: $color-primary-light;
    }
  }
}
#shop-category-header {
  font-family: $sans;
  @include font-large;
  padding: 0 $header-padding;
  width: 100vw;
  margin-top: 5vh;
}
#shop-item-container{
margin-top: 5vh;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
grid-template-rows: repeat(auto-fill, minmax(280px, 1fr));
gap: 1rem;
}


.shop-item {
  width: 100%;
  font-family: $sans;
  .shop-item-image {
    @include image-fill-center();
    aspect-ratio: 1/1;
  }
  .shop-item-info {
    margin-top: 0.5rem;
    // background: coral;
    .shop-item-title {
    //   background: orange;
    }
    .shop-item-type {
    //   background: red;
    }
    .shop-item-year {
    //   background: pink;
    margin-top: 0.5rem;
    }
  }
}
