@import "../main-styles/main-styles.scss";
@import "../layout/layout.scss";


.cart-item {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  border: 4px solid black;
  color: white;
  @include font-medium;
    text-shadow: 0 0 8px black;
    width: 100%;
  .cart-item-image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .cart-item-image {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .cart-item-text-container {
    width: 100%;
    padding: 0.5vw 1vw;
    background: #00000060;
    z-index: 3;
  }

  .cart-item-print-size-container {
    display: flex;
    white-space: nowrap;
    select {
      border: none;
      padding: 0 1rem;
      @include font-medium;
      text-align: center;
      color: white;
      background: transparent;
      width: 100%;
      cursor: pointer;

      option {
        color: black;
      }
    }
  }

  .cart-item-quantity-button-container {
    display: flex;
    @include font-medium;

    .cart-item-quantity-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0 1rem;
      color: white;
      text-shadow: 0 0 4px black;

      button {
        margin: 0 1rem;
        padding: 0 0.5rem;
        border: none;
        color: white;
        @include font-medium;
        background: transparent;
        cursor: pointer;
        transition: border $transition-slow;
      }
    }
  }

  .cart-item-total-container {
    display: flex;
    white-space: nowrap;
    justify-content: flex-end;
    align-items: center;
    @include font-medium;
    padding: 0 1rem;
  }

  .cart-item-label {
    min-width: 200px;
  }

  .cart-item-remove-container {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;

    button {
      @include font-medium;
      text-transform: uppercase;
      color: white;
      text-shadow: 0 0 4px black;

      border: none;
      cursor: pointer;
      outline: none;
      background: green;
      background: transparent;
    }
  }
}
