@import "../main-styles/main-styles.scss";

#cart {
  @include flex-column;
  gap: 1rem;
}

//grid settings / width, height / positions
.cart-item {
  position: relative;
  display: grid;
  grid-template-areas:
    "name name"
    "image printsize"
    "image quantitybuttons"
    "image total";

  width: 100%;
  height: auto;
  grid-template-columns: 1fr 1fr;
  aspect-ratio: 3/1;
  padding: 5vw 10vw;

  .cart-item-title-container {
    grid-area: name;
  }

  .cart-item-image-container {
    grid-area: image;
  }

  .cart-item-print-size-container {
    grid-area: printsize;
  }

  .cart-item-quantity-container {
    grid-area: quantitybuttons;
  }

  .cart-item-total-container {
    grid-area: total;
  }
}

//Styles
.cart-item {
  @include font-medium;
  margin: auto;
  padding: 0 10vw;
  box-shadow: 0px 2px black;
  background: #00000050;
  align-items: center;
  justify-content: center;

  height: 300px;
}

.cart-item-title-container {
  @include font-large;
}

.cart-item-image-container {
  @include image-container-flex;
  border-radius: 8px;

  .cart-item-image {
    @include image-inner-flex;
    border-radius: 8px;
  }
}

.cart-item-remove-container {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border: none;
  width: fit-content;
  @include font-medium;
  background: transparent;

  button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
}

.cart-item-print-size-container {
  border: none;
  background: transparent;

  select {
    border: none;
    background: transparent;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    padding: 0 0.5rem;
    cursor: pointer;
    &:hover {
      background: #00000050;
    }
  }
  option {
  }
}

.cart-item-quantity-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border: none;
  background: transparent;
  button {
    border: none;

    background: transparent;
    color: white;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      background: #00000050;
    }
  }
}

.cart-item-label {
  font-weight: 600;
}

.cart-item-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 0.2rem 0;
}
