@import url("https://fonts.googleapis.com/css2?family=Sacramento:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sevillana:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-indent: none;
}

li {
  list-style: none;
}

i {
  color: inherit;
  background: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-padding-top: 64px;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100vw;
  z-index: 10;
  background: lightblue;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  height: 64px;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  height: 32px;
  max-height: 32px;
  line-height: 32px;
  padding: 0 1rem;
}
nav svg {
  font-size: 24px;
}
nav .nav-list {
  display: flex;
}
nav .social-list {
  display: flex;
}

section {
  width: 100vw;
}
section .section-header {
  position: -webkit-sticky;
  position: sticky;
  top: 64px;
  z-index: 7;
}
section .section-header-title {
  height: 32px;
  max-height: 32px;
  line-height: 32px;
  width: 100vw;
}

.section-header {
  background: black;
  color: white;
}

.section-header-title {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.25rem, 1.75vw, 2rem);
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 2px;
  padding-left: 2rem;
}

figure {
  background: #f5f5f5;
  padding: 0.5rem;
  border: 4px solid black;
  box-shadow: 4px 4px black;
  position: relative;
  top: 4px;
  left: 4px;
  transition: top 0.15s ease-in-out, left 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
figure figcaption {
  color: #2a8aa7;
  font-family: "Sacramento", cursive;
  width: 100%;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
figure img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border: 4px solid black;
  vertical-align: center;
  filter: grayscale(50%);
  transition: filter 0.5s ease-in-out;
}
figure:hover, figure:focus {
  border: 4px solid #ecb709;
}
figure:hover img, figure:focus img {
  filter: grayscale(0%);
}
figure:hover {
  top: -4px;
  left: -4px;
  box-shadow: 16px 16px 8px black;
}
figure:active img {
  border: 4px solid #ecb709;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50vw;
  width: 50vw;
  max-width: 1000px;
  z-index: 11;
}

#header a {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  flex-wrap: nowrap;
}
#header .logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
#header .header-name {
  transition: all 200ms;
  display: flex;
}
#header .nav-list,
#header .social-list,
#header a {
  gap: 0.5rem;
  padding: 0 0.25rem;
}
@media (max-width: 900px) {
  #header ul a {
    display: flex;
    flex-direction: column;
  }
  #header .header-link:hover .header-name {
    max-width: 100px;
    width: 100%;
    opacity: 1;
  }
  #header .header-name {
    max-width: 0px;
    opacity: 0;
  }
}

#home {
  margin-top: 64px;
}
#home .section-content {
  padding: 3vw;
  gap: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#home .section-content .home-portrait img {
  filter: grayscale(0%);
}
#home .section-content .home-portrait figcaption {
  font-family: "Outfit", sans-serif;
  font-size: clamp(64px, 5vw, 120px);
  font-weight: 800;
  font-family: "Sacramento", cursive;
  font-weight: 800;
}
#home .home-cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
#home .home-cards figcaption {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.25rem, 1.75vw, 2rem);
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 2px;
  text-align: left;
}
@media (max-width: 900px) {
  #home .section-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row-reverse;
  }
  #home .home-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  #home .home-cards figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  #home .home-cards figure img {
    width: clamp(160px, 30vw, 320px);
  }
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#about .about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
}
#about .about-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}
#about .about-section:nth-child(odd) {
  flex-direction: row-reverse;
}
#about .about-section:not(:last-child) {
  margin-bottom: 2rem;
  box-shadow: 0 4px black;
}
#about .about-section p {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.25rem, 1.75vw, 2rem);
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 2px;
  text-transform: none;
  letter-spacing: 2px;
  text-align: left;
}
#about .about-section p::first-line {
  font-size: 2rem;
  font-weight: 800;
  font-family: "Satisfy", cursive;
}
#about .about-section p::first-letter {
  font-size: 3rem;
  font-weight: 800;
}
#about .about-section figure img {
  width: clamp(160px, 30vw, 320px);
}
@media (max-width: 900px) {
  #about .about-content .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
  }
  #about .about-content .about-section figure {
    width: auto;
  }
  #about .about-content .about-section figure img {
    min-width: 300px;
  }
}

#mason-gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(80px, 10vw));
  grid-auto-rows: minmax(8vw, 400px);
  padding: 1rem;
  width: 100%;
  max-width: 50%;
}

.mason-item {
  position: relative;
  border: 4px solid black;
  margin: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: width 200ms, height 200ms;
}
.mason-item:hover {
  border: 4px solid red;
}
.mason-item .mason-item-image {
  transition: transform 200ms;
}
.mason-item .mason-item-image:hover {
  transform: scale(1.05);
}
.mason-item .mason-item-text-container {
  display: none;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: transparent;
  transition: opacity 200ms;
}
.mason-item .mason-item-description {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  display: none;
}
.mason-item .mason-item-image-container {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
.mason-item .mason-item-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mason-item .mason-item-add-to-cart-button,
.mason-item .mason-item-close-button {
  display: none;
}

.mason-item--active {
  width: clamp(200px, 50vw, 600px);
  aspect-ratio: 1/1;
  z-index: 5;
}
.mason-item--active .mason-item-text-container {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 1;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  color: white;
  text-shadow: 1px 1px 3px black;
  color: mix-blend-mode(difference, black, white);
  padding: 0.25rem 0.5rem;
  z-index: 8;
}
.mason-item--active .mason-item-add-to-cart-button {
  position: absolute;
  display: block;
  right: 0;
  padding: 0.5rem 1rem;
  background: transparent;
  color: white;
  width: 100%;
  border: none;
  background: rgba(0, 0, 0, 0.5019607843);
  font-family: "Poppins", sans-serif;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 400;
  transition: color 200ms, background 400ms;
}
.mason-item--active .mason-item-add-to-cart-button:hover {
  background: #000000;
}
.mason-item--active .mason-item-close-button {
  position: absolute;
  display: block;
  right: 0;
  padding: 0.5rem 1rem;
  background: transparent;
  color: white;
  border: none;
  font-size: 20px;
  text-shadow: 1px 1px 3px black;
  transition: color 200ms, background 200ms, rotate 200ms;
}
.mason-item--active .mason-item-close-button:hover {
  rotate: 180deg;
}
.mason-item--active .mason-item-add-to-cart-button {
  bottom: 0;
}
.mason-item--active .mason-item-close-button {
  top: 0;
}
.mason-item--active:active .mason-item-image-container {
  transform-origin: top left;
}/*# sourceMappingURL=gallery.css.map */