@import "../main-styles/main-styles.scss";

#shop {
  .shop-content {
    @include flex-column;
    position: relative;
    background: linear-gradient(
      180deg,
      $color-primary-dark 0%,
      $color-secondary-dark 100%
    );

    #mason-gallery {
      width: 100%;
    }

    #cart {
      width: 100%;
    }
  }
}

#mason-gallery {
}

#cart {
}
