@import "../main-styles/main-styles.scss";

#shop {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(
    180deg,
    $color-primary-dark 0%,
    $color-secondary-dark 100%
  );

  .section-content {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
  }
}

