@import "../main-styles/main-styles.scss";

#shop {
  .shop-content {
    @include flex-row;
    position: relative;
    background: linear-gradient(
      180deg,
      $color-primary-dark 0%,
      $color-secondary-dark 100%
    );


    #mason-gallery {
      width: 100%;
    }

    #cart {
      width: 100%;
    }
  }

  @media (max-width: 900px) {
    .shop-content {
      @include flex-column;

      background: red;
      #mason-gallery {
        width: 100%;
        justify-content: left;
        grid-template-columns: repeat(4, 12vw);
        gap: 1vw;
        height: 100%;
      }

      #cart {
        width: 100%;
        position: relative;
        margin-top: 0;
      }
    }
  }
}
