@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap");
//font-family: 'Outfit', sans-serif; //weight 100-900
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
//font-family: 'Lobster', cursive;
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
//font-family: 'Rajdhani', sans-serif;

$cursive: "Satisfy", cursive;
$sans: "Rajdhani", sans-serif;

$bold: 700;
$normal: 400;

//Cursive Fonts
$font-fancy1: "Sacramento", cursive;
$font-fancy2: "Sevillana", cursive;
$font-fancy3: "Satisfy", cursive;
$font-fancy4: "Macondo", cursive;
$font-fancy5: "Rowdies", cursive;
$font-fancy6: "Lobster", cursive;

//Sans Serif Fonts
$font-family-large: "Outfit", sans-serif;
$font-family-medium: $sans;
$font-family-small: $sans;

//Font Sizes
$font-size-icon: clamp(24px, 3.5vw, 48px);
$font-size-huge: clamp(48px, 5vw, 3rem);
$font-size-large: clamp(32px, 32px + 0.5vw, 2.3rem);
$font-size-medium: clamp(20px, 1rem + 0.5vw, 2rem);
$font-size-small: clamp(12px, (12px + 1vw), 1.4rem);

//Font mixins
@mixin font-icon {
  font-family: $font-family-large;
  font-size: $font-size-icon;
  font-weight: 800;
}
@mixin font-huge {
  font-family: $font-family-large;
  font-size: $font-size-huge;
  font-weight: 800;
}
@mixin font-large {
  font-family: $font-family-large;
  font-size: $font-size-large;
  font-weight: 700;
}

@mixin font-medium {
  font-family: $font-family-medium;
  font-size: $font-size-medium;
  font-weight: 400;
}

@mixin font-small {
  font-family: $font-family-small;
  font-size: $font-size-small;
  font-weight: 400;
}

// ---------------------------------------------------------------------------

// Images --------------------------------------------------------------------
$image-large-width: clamp(300px, 100%, 30vw);
$image-medium-width: clamp(120px, 100%, 20vw);
$image-small-width: clamp(80px, 100%, 12vw);
$image-tiny-width: clamp(600px, 100%, 8vw);

@mixin image-fill-center {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

// ---------------------------------------------------------------------------

// Spacing -------------------------------------------------------------------

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

// heights
$header-height: 64px;
$section-header-height: 40px;
$header-padding: 2rem;

// ---------------------------------------------------------------------------

//Transition Variables
$transition-slow: 500ms;
$transition-medium: 300ms;
$transition-fast: 120ms;

// Colors
$color-primary-darker: #0c0d15;
$color-primary-dark: #1e202d;
$color-primary-light: #017ff0;
$color-primary: #3b405f;

$color-light: #fafafa;
$color-dark: #333333;
$background: #22222f;

li {
  list-style: none;
}
i {
  color: inherit;
  background: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-padding-top: $header-height;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-indent: none;
  // border: 1px solid lime;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: $background;
     background-image: linear-gradient( $color-primary-dark, $color-primary-light);

  color: $color-light;
  scroll-snap-align: start;
}

header {
  width: 100vw;
  height: $header-height;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0 $header-padding;
  position: fixed;
  top: 0;
  left: 0;
  background: $background;;

  nav {
    @include flex-row;
    height: $section-header-height;
    max-height: $section-header-height;
    line-height: $section-header-height;
    width: 100vw;
    justify-content: space-between;
    padding: 0 1rem;
    .nav-list {
      @include flex-row;
      font-family: $sans;
      font-weight: 600;
      width: auto;
      gap: 2rem;
      margin: auto 1rem;
    }
  }
}

//section default styles
section {
  // margin-top: $header-height; //prevents losing header under nav
  margin: 0 10vw;
  position: relative;
  max-width: 1200px;
  @include flex-column;
}
.section-header {
  position: sticky;
  top: $header-height;
  padding: 0 $header-padding;
  z-index: 7;
  height: $section-header-height;
  max-height: $section-header-height;
  line-height: $section-header-height;
  width: 100vw;
  color: white;
  background: transparent;
  // padding-top: $header-padding;
  .section-header-title {
    @include font-medium;
  }
}

.section-content {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  margin-top: 5vh;
  min-height: calc(100vh - $header-height - $section-header-height);
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);

  // Grid rows are defined in individual sections
}

.button {
  margin-top: 2rem;
  @include font-medium;
  border-radius: 9999px;
  padding: 0.5rem 3rem;
  background: $color-dark;
  white-space: nowrap;
  font-weight: 700;
  box-shadow: 0 4px 4px 2px #44444450;

  color: $color-light;
  outline: none;
  border: none;
  cursor: pointer;
}

figure {
  img {
    @include image-fill-center;
  }
}
