
#mason-gallery{
    width: 100vw;
    margin: 0;
    background: red;
    .mason-item{
        background: green;
        width: 20px;
    }
    .mason-image-container{
        background: blue;
        width: 100px;
        .mason-image{

        }
    }
}
