@import "./shared/_shared-styles.scss";

#about {
  .section-content {
    height: auto;
  }

  figcaption {
    opacity: 0;
  }

  .about-image {
    box-shadow: 0px 0px 2px 1px $color-light;
    @include image-fill-center();
  }
  .about-image-1 {
    grid-column: 8/12;
    grid-row: 1/5;
  }
  .about-text-1 {
    grid-column: 2/8;
    grid-row: 2/4;
    text-align: right;
  }

  .about-image-2 {
    grid-column: 2/6;
    grid-row: 4/8;
  }
  .about-text-2 {
    grid-column: 6/12;
    grid-row: 5/7;
  }

  .about-image-3 {
    grid-column: 8/12;
    grid-row: 7/11;
  }
  .about-text-3 {
    grid-column: 2/8;
    grid-row: 8/12;
    text-align: right;
  }

  .about-text {
    @include font-small;
    padding: 1rem 2rem;
    display: block;
    font-family: $sans;
    font-size: 0.8rem;
    &::first-letter {
      font-size: 2rem;
    }
    &::first-line {
      font-size: 1.25rem;
      font-family: $font-fancy6;
    }
  }
}
