@import './shared/_shared-styles.scss';

#contact {
    .section-content {
      font-family: $sans;
      justify-content: start;
      align-items: start;
      margin: 10vh 0;
      @include flex-column;
      // align-items: center;
      // justify-content: center;
    }
    .contact-text-block {
      font-family: $sans;
      width: clamp(300px, 50vw, 600px);      
      @include font-large;
      font-weight: 600;
      height: 100%;
      padding: 1rem;

    }
  
    .contact-form {
      @include flex-column;
      @include font-small;
      height: 100%;
      width: clamp(300px, 50vw, 600px);    
      font-family: $sans;
      gap: 0.5rem;
      padding: 1rem;
  
      .button {
        align-self: flex-end;
      }
    }
  
    input,
    textarea {
      @include font-small;
      font-family: $sans;
      height: 2rem;

      // color: $color-light;
      // background: $color-primary;
      background: $color-light;
      color: $color-dark;
      border: none;
      outline: none;
      width: 100%;
      text-indent: 0.5rem;
      padding: 0.25rem;
    }
  
    textarea {
      height: 8rem;
      resize: none;
    }
  }

  @media (max-width: 768px) {
    #contact {
      .section-content {
        @include flex-column;
        .contact-text-block{
          // font-family: $font-bold;
          // font-weight: 600;
        }
        height: 100%;
        min-height: 100vh;
      }
    }
  }
  