@import "./shared/_shared-styles.scss";

#home {
  padding-top: 5vh;
  .section-content {
    @include flex-row;
    justify-content: center;
    .home-portrait-container {
      overflow: hidden;
      box-shadow: 0px 0px 2px 1px $color-light;
      width: clamp(340px, 40%, 800px);

      .home-portrait {
        @include image-fill-center;
        vertical-align: middle;
      }
    }

    .home-text-container {
      @include font-large;
      font-family: $sans;
      font-weight: 600;
      width: clamp(340px, 50%, 460px);
      margin: 1rem 2rem;
    }
  }
  button{
    background-color: $color-primary-light;
  }
}

@media (max-width: 700px) {
  #home {
    .section-content {
      @include flex-column;
      align-items: center;
      justify-content: center;
      .home-portrait-container {
      }
      .home-text-container {
        @include flex-column;
        .home-text {
        }
      }
    }
  }
}
