@import "./shared/_shared-styles.scss";

#home {
  .section-content {
    @include flex-row;
    margin-top: 10vh;
    justify-content: center;
    height: 80vh;
    .home-portrait-container {
      overflow: hidden;
      box-shadow: 0px 0px 2px 1px $color-light;
      width: clamp(340px, 40%, 800px);

      .home-portrait {
        @include image-fill-center;
        vertical-align: middle;
      }
    }

    .home-text-container {
      @include font-large;
      font-family: $sans;
      font-weight: 600;
      width: clamp(340px, 40%, 460px);
      margin: 1rem 2rem;
    }
  }
  .custom-link {
    @include font-large;
    margin-top: 2rem;
    cursor: pointer;
    border: 3px solid white;
    width: fit-content;
    padding: 0.25rem 1rem;
    background: transparent;
    color: $color-light;
    transition: all $transition-medium;
    &:hover {
      color: $color-primary-light;
      background: $color-light;
      border: 3px solid $color-light;
    }
  }
}

@media (max-width: 700px) {
  #home {
    .section-content {
      @include flex-column;
      align-items: center;
      justify-content: center;
      .home-portrait-container {
      }
      .home-text-container {
        @include flex-column;
        .home-text {
        }
      }
    }
  }
}
