@import "./shared/_shared-styles.scss";

#shop-page {
  @include flex-column;
  gap: 0;
  width: 100%;
  height: 100vh;
}

#open-cart-modal {
  @include font-medium;
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
  user-select: none;
  cursor: pointer;
  z-index: 999;
  // border: 2px solid white;
  border-bottom: none;
  padding: 0.1rem 0.5rem;
  height: 100%;

  &:hover {
    color: $color-primary-light;
  }
}

.shop-categories {
  @include flex-row;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
  position: sticky;
  top: 0;
  .shop-category-button {
    background-color: $color-primary;
    @include font-small;
    font-weight: 600;
    padding: 0.2rem 0.8rem;
    min-width: 120px;

    &:hover {
      background-color: $color-primary-light;
    }
  }
  .active {
    background-color: $color-primary-light;
  }
}

#shop-header {
  @include flex-row;
  position: relative;
  margin-top: 1rem;
  background: transparent;
  box-shadow: 0px 2px 2px $color-light;
  padding: 0 $header-padding;
  width: 100vw;
  justify-content: space-between;
}

#shop-category-header {
  @include font-large;
  font-family: $sans;
  text-transform: capitalize;
}

#shop-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1px, 240px));
  @include font-medium;
  gap: 1rem;
  justify-content: center;
  padding: 5vw;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  width: 100vw;
  margin: 0 5vw;
  &::-webkit-scrollbar {
    display: none;
  }
}

.shop-item {
  width: 100%;
  font-family: $sans;
  background: #00000080;
  .shop-item-image-container {
    overflow: hidden;
    padding: 0.5rem;
    .shop-item-image {
      @include image-fill-center;
      aspect-ratio: 1/1;
      transition: all 200ms;
      cursor: pointer;
    }
  }
  .shop-item-info-container {
    padding-left: 1rem;
    .shop-item-title {
    }
    .shop-item-type {
    }
    .shop-item-year {
    }
  }
  &:hover {
    .shop-item-image {
      transform: scale(1.1);
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 200ms;

  .modal-content {
    @include flex-row;
    gap: 2rem;
    position: relative;
    align-items: center;
    font-family: $sans;
    width: clamp(540px, 80%, 800px);
    margin: 10% auto;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    background-color: $color-primary;
  }

  .modal-left {
    @include flex-column;
    width: 100%;
    gap: 1rem;
    align-items: flex-start;
    font-size: 1.25rem;
    position: relative;
    .modal-image-container {
      width: clamp(240px, 100%, 300px);
      box-shadow: 2px 8px 8px 0px #111;
      aspect-ratio: 1/1;
      border-radius: 16px;
      overflow: hidden;
      position: relative;
      transition: all 200ms;

      &:active,
      &:focus {
        position: fixed;
        z-index: 999;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        width: 80vh;
        height: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
      }
      .modal-image {
        @include image-fill-center();
      }
    }

    .modal-info-container {
      @include flex-column;
      align-items: flex-start;
      position: absolute;
      padding: 0.8rem;
      text-shadow: 2px 2px 4px black;
      // background: orange;
      width: clamp(220px, 70%, 320px);
      @include font-medium;
      font-weight: 800;
      .modal-info-title {
        // font-weight: 600;
        font-size: 1.25rem;
      }
      .modal-info-type {
      }
      .modal-info-year {
        font-size: 1rem;
      }
    }
  }

  .modal-right {
    @include flex-column;
    width: clamp(220px, 100%, 320px);
    // background: green;
    gap: 0.5rem;
    align-items: flex-start;
    font-size: 1.25rem;
    padding: 1rem;
    margin-top: 1rem;
    .button {
      background: $color-primary-light;
      border: none;
      outline: none;
      font-weight: 800;
      font-size: 1.25rem;
      width: 100%;
      cursor: pointer;
      justify-self: flex-end;
      align-self: flex-end;
    }

    .modal-selection-container {
      @include flex-row;
      width: 100%;
      height: 32px;
      justify-content: space-between;
      align-items: center;
      white-space: nowrap;
      gap: 1rem;

      .modal-selection-label {
        width: 120px;
      }

      #modal-total-price {
        width: 180px;
      }
      .modal-selection-input {
        @include flex-row;
        @include font-small;
        background: $color-light;
        color: $color-dark;
        width: 200px;
        height: 100%;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        border-radius: 999px;
        font-weight: 400;
        border: none;
        outline: none;
        padding: 0.25rem;
        cursor: pointer;
      }

      .modal-selection-button {
        @include font-small;
        background: transparent;
        outline: none;
        border: none;
        font-weight: 800;
        font-size: 1.5rem;
        cursor: pointer;
        width: 2rem;
      }
    }
  }
  #modal-close-button {
    outline: none;
    border: none;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 999px;
    font-weight: 600;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    content: "X";
    cursor: pointer;
  }
}

.cart-modal {
  display: none;
  z-index: 999;
  width: 100%;
  height: 80%;
  background: $color-primary-dark;
  padding: 1rem 0 1rem 1rem;
  font-family: $sans;
  // overflow: hidden;
  position: fixed;
  top: 20%;
  left: 0%;
}

#cart-modal-content {
  @include flex-row;
  justify-content: space-between;
  height: 100%;
  position: relative;
  padding-bottom: 4rem;
}

#cart-modal-list {
  width: 80%;
  height: 80%;
  padding: 0 1rem;
  overflow-y: scroll;
  scrollbar-color: $color-primary-light $color-primary;
  scrollbar-width: 2px;
}

.cart-item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  cursor: pointer;
  @include font-small;
  padding: 0.5rem 1rem;
  background: $color-primary-dark;
  align-items: center;
  justify-content: center;
  &:not(:last-child):after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: $color-light;
  }

  .cart-item-left {
    @include flex-row;
    // background: lightcoral;
    height: 100%;
    width: 100%;
  }

  .cart-item-middle {
    @include flex-row;
    // background: lightgreen;
    height: 100%;
    padding: 0.5rem;
  }
  .cart-item-right {
    @include flex-row;
    // background: lightblue;;
    padding: 0.5rem;
    height: 100%;
    width: 100%;
  }
}
.cart-item-image-container {
  width: clamp(64px, 100%, 128px);
  aspect-ratio: 1/1;
  .cart-item-image {
    @include image-fill-center();
  }
}

.cart-item-info-container {
  width: 100%;
}
.cart-item-selection-container {
  width: 100%;
}

.cart-modal-remove-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  outline: none;
  border: none;
  font-weight: 500;
  font-family: $sans;
  font-size: 60px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  color: $color-light;
  cursor: pointer;
}

#cart-modal-total {
  @include flex-column;
  width: 40%;
  padding: 1rem;
  margin-left: 2rem;
  background: $color-primary;

  position: sticky;
  top: 2rem;
  right: 0;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;

  #cart-modal-summary {
    @include flex-column;
    width: 100%;
    gap: 0.5rem;
    margin: 1rem 0;
    #cart-modal-total-header {
      @include font-medium;
    }
    p,
    h3 {
      @include flex-row;
      width: 100%;
      justify-content: space-between;
    }

    .big-total {
      @include font-medium;
      font-weight: 600;
    }
  }

  #cart-modal-total-checkout {
    background: $color-primary-light;
    font-family: $sans;
    @include font-large;
    color: $color-light;
    border: none;
    outline: none;
    font-weight: 800;
    font-size: 1.25rem;
    border-radius: 9999px;
    padding: 0.5rem 1rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all $transition-medium;
    &:hover {
      background: $color-light;
      color: $color-primary-light;
      padding: 0.5rem 5rem;
    }
  }
}

@media (max-width: 700px) {
  #header {
    @include font-small;
    padding: 0 0;
    .logo {
      display: none;
      width: 0px;
    }
  }

  .modal {
    background: #00000050;
    height: 40vh;
    width: 100vw;

    .modal-content {
      @include flex-column;
      position: fixed;
      bottom: 0;
      right: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      height: 80vh;
      width: 80vw;
      justify-content: center;
      margin: auto;
      .modal-left {
        align-items: center;
      }
      .modal-info-container {
        // align-items: center;
        // background: blue;
        // width: fit-content;
      }
    }
  }

  .cart-modal {
  }
  #cart-modal-content {
    flex-direction: column;
  }
  #cart-modal-list {
    width: 100%;
    height: 100%;
  }

  #cart-modal-total {
    background: $color-primary;

    position: relative;
    top: auto;
    right: auto;
    padding: 1rem;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 100vw;
    height: 800px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
}

.added-to-cart {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999999;
  display: none;
  color: $color-primary-light;
  @include font-huge;
  text-align: center;
  padding-top: 30vh;
}

.cart-checkout-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999999;
  display: none;
  color: $color-primary-light;
  @include font-huge;
  text-align: center;
  padding-top: 30vh;
}

.letter-bounce {
  animation: letter-bounce 0.5s ease-in-out infinite;
}

@keyframes letter-bounce {
  0% {
    transform: translateY(0);
    color: red;
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
    color: yellow;
  }
}

.added-to-cart-checkmark {
  font-size: 10rem;
  margin-bottom: 1rem;
}

.open {
  display: block;
  z-index: 999;
  height: 100%;
}
