* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-indent: none;

  //   border: 1px solid lime;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  scroll-padding-top: clamp(44px, 7.5vw, 70px);
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

$width-container: clamp(600px, 100vw, 1200px);
$width-inner: clamp(400px, 80vw, 1000px);

section {
  width: clamp(600px, 100vw, 1200px);
}

#nav {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 3;
}

section {
  width: $width-container;
    
  .section-header {
    width: 100%;
    padding: 0rem 1rem;
  }
  .section-header-title {
    width: fit-content;
  }

  .section-content {
    width: $width-inner;
  }

  .section-content-text {
    
  }
  
}

#nav {
  .nav-list {
    // background: inherit;
  }

  .social-list {
    // background: inherit;
  }
}
