@import "./styles.scss";
#shop {
  margin: 0;
}

#mason-gallery {
  padding: 1rem;
  width: 100%;
  justify-content: center;
  background: linear-gradient(180deg, #e26363 0%, #d3af0d 100%);
}

.mason-item {
  border: 4px solid black;
  position: relative;
  transition: all 200ms;

  &:hover,
  &:focus,
  &:active {
    border: 4px solid white;
  }
  .mason-image-container {
    .mason-image {
      position: relative;
      width: 100%;
      height: 100%;
      transition: all 200ms;
      z-index: 2;
    }
  }

  .mason-inner {
    display: none;
    height: 100%;
    gap: 1rem;
    width: 100%;
    @include font-small;
    ul {
      padding: 0.2rem 0.5rem;
      width: 100%;
      li {
        display: flex;
        flex-direction: column;
      }
    }

    .mason-header {
      padding: 1rem;
      width: 100%;
      @include font-large;
      text-align: center;
      display: none;
      @include font-medium;
    }
    p {
      background: white;
    }
  }
  .mason-close-button {
    display: none;
    @include font-large;
  }
}

.mason-item--active {
  position: fixed;
  top: 50px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 100%;
  background: slategray;
  z-index: 9;
  &:hover {
    border: 4px solid black;
  }

  .mason-image-container {
    width: 100%;
    padding: 5%;
    margin: 5%;
    &:active,
    &:focus {
      .mason-image {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1200px;
        height: 1200px;
        z-index: 99;
      }
    }
  }
  .mason-image {
    height: auto;
    object-position: center;
    border: 4px solid black;
  }

  .mason-inner {
    display: inline-block;

    .mason-header {
      display: block;
    }
  }
  .mason-close-button {
    position: absolute;
    display: block;
    padding: 2rem;
    position: aboslute;
    bottom: 0.5rem;
    left: -1rem;
    font-size: 2rem;
    font-family: "consolas";
    transition: rotate 200ms;
    &:hover {
      rotate: (180deg);
    }
  }
}
